body{
background: #dde1e5;
background-image: url("images/bg text 01.png");
}
h1 {
    color:  rgb(106, 106, 106);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 40px;
    font-stretch: condensed;
}
h2 {
    color: rgb(124, 124, 124);
    font-family: "Helvetica Neue Light", sans-serif;
    font-size: 20px;
    text-align: center;
    outline-style: none;
    padding: 2px;
    font-weight: lighter;
}
/* Icons */
.icon-container {
    display: flex;
    width: auto;
    height: auto;
}
.icon-container img {
    display: block;
    width: 50px;
    height: auto;
}
/* Index page grid */
.griddy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    padding: 10px;
    margin:10px;
    border: 1px;
    grid-template-areas: 
        "t2 t2"
        "m3 m3"
        "b2 b2"
        "f2 f2";
}
.griddy div {
    padding: 5px;
}
.griddy div.t2 {
    grid-area: t2;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    height: 200px;
} 
.griddy div.m3 {
    grid-area: m3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.griddy div.m3 a {
  display: block;
  flex: 1;
}
.griddy div.m3 img{
    display: block;
    width: 100%;
    height: auto;
}

.griddy div.b2 {
    grid-area: b2;
    text-align: center;
    justify-content: center;
    height: auto;
}  
.griddy div.f2 {
    grid-area: f2;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 10 px;
    padding-top: 50%;
    color:rgb(106, 106, 106);
}



