body{
background: #dde1e5;
background-image: url("images/bg text 01.png");
}
h1 {
    color:  rgb(106, 106, 106);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 40px;
    font-stretch: condensed;
}
h2 {
    color: rgb(124, 124, 124);
    font-family: "Helvetica Neue Light", sans-serif;
    font-size: 20px;
    text-align: center;
    outline-style: none;
    padding: 2px;
    font-weight: lighter;
}
img {
    max-width: 100%;
    height: auto;
}

.griddy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1px;
    padding: 10px;
    margin:10px;
    border: 1px;
    grid-template-areas: 
        "t1 t2 t2 t2 t3"
        "m1 m2 m3 m4 m5"
        "b1 b2 b2 b2 b3"
        "f1 f2 f2 f2 f3";
}
.griddy div {
    padding: 5px;
}

.griddy div.t2 {
    grid-area: t2;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    height: auto;
}
.griddy div.m2 {
      grid-area: m2;
    align-items: center;
    text-align: center;
    width: 100%;
} 
.griddy div.m3 {
    grid-area: m3;
    align-items: center;
    text-align: center;
    width: 100%;
}
.griddy div.m4 {
    grid-area: m4;
    align-items: center;
    text-align: center;
    width: 100%;
}
 
.griddy div.b2 {
    grid-area: b2;
    text-align: center;
    justify-content: center;
    height: auto;
}  

.griddy div.f2 {
    grid-area: f2;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 10 px;
    padding-top: 50%;
    color:rgb(106, 106, 106);
}

/* Container holding the image and menu */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the image as a button */
.dropbtn {
    width: 100px;
    height: auto;
    border-radius: 10%; 
    cursor: pointer;
    padding-top: 15%;
}

/* Hidden dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    text-align: center;
}

/* Show content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e3e3e3;
}



