body{
    background: #D9E7FF; 
    background: radial-gradient(circle, rgba(217, 231, 255, 1) 50%, rgba(227, 255, 231, 1) 0%);
    font-family: "Helvetica Neue Light", sans-serif;
    color:salmon;
    font-size: 25px;
    margin: 0;
    padding: 20px;
}

h1 {
    color: seagreen;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 50px;
    text-align: center;
}