body{
    background: #dde1e5;
    background-image: url("images/bg text 01.png");
}

h1 {
    color:  salmon;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 60px;
}

h2 {
    color: olive;
    font-family: "Helvetica Neue Light", sans-serif;
    font-size: 25px;
    text-align: center;
    outline-style: none;
    padding-top: 5px;
    padding-bottom: 10px;
    border-style: none;
}